@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,400&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #111;
}
.list {
  position: relative;
  background-color: #fff;
  width: 350px;
}

.list h2 {
  background-color: #03a9f4;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}
.list ul {
  position: relative;
  padding: 20px;
}

.list ul li {
  position: relative;
  list-style: none;
  padding: 15px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list ul li:last-child {
  border-bottom: none;
}

.list ul li label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.list ul li label input {
  visibility: hidden;
  appearance: none;
}
.list ul li label p {
  position: absolute;
}
.list ul li label span {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list ul li label span:before {
  position: absolute;
  content: "";
  top: 5px;
  width: 10px;
  height: 5px;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  transform: rotate(-40deg);
}
.list ul li label input:checked ~ p {
  text-decoration: line-through;
  color: #ccc;
}

.list ul li label input:checked ~ span {
  background-color: #03a9f4;
  border: 1px solid #03a9f4;
}
.list ul li label input:checked ~ span::before {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
}
